@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root{
    --yellow: #F1A600;
    --dark-grey: #1F1D2C;
    --dark-blue: #242635;
    --light-grey: #E5E5E5;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark-grey);
    color: white;
    font-family: 'Inter', sans-serif;
}

img{
    max-width: 100%;
}

.nav{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

label>img{
    width: 30px;
}

#btn-menu{
    visibility: hidden;
}

.nav-menu{
    position: absolute;
    background: var(--dark-grey);
    width: 100%;
    top: 80px;
    min-height: calc( 100vh - 80px );
    padding: 1.5rem 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    display: flex;
    left: -100%;
    transition: left .5s linear;
}
.nav-item{
    list-style: none;
    font-size: 1.25rem;
}

.nav-item > a{
    color: white;
    text-decoration: none;
}

#btn-menu:checked ~ .nav-menu{
    left: 0;
}

.header{
    background-image: url("../images/Vectores/Rectangle 34.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 0 right -150px;
}

.header-information{
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.header-information h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.header-information p{
    margin-bottom: 1rem;
    font-size: 18px;
}

.social-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 350px;
    margin: 0 auto;
}

.icon{
    width: 32px;
}

.header--image{
    max-width: 350px;
}


.text-accent{
    color: var(--yellow);
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-about{
    padding: 2rem 1.5rem;
    background-color: var(--dark-blue);
    text-align: center;
}

.education-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.education-card > img{
    max-width: 150px;
}

h6{
    font-size: 1rem;
}

.section-experience{
    padding: 2rem 1.5rem;
    text-align: center;
}

.experience-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    row-gap: 2rem;
}

.experience-container > div{
    text-align: left;
}
.experience-container > img{
    width: 80px;
}

.habilidades-experience {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr ;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    row-gap: 2rem;
}

.habilidad-container >div{
   
   display: grid;
   grid-template-columns: 1fr 1fr;
   max-width: 600px;
   margin: 0 auto;
   align-items: top;
   row-gap: 2rem;


}
.habilidad-container >span{
    row-gap: 10rem;

}

.text-accen {
color: var(--yellow);
font-size: 2rem;
row-gap: 1rem;

}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.img-container{
    padding: 0 1rem;
    background-color: yellowgreen;
}

.img-container > img{
    position: relative;
    top: 1rem;
}

.img-shadow{
    box-shadow: 1rem -1rem tomato, -1rem -1rem tomato;
}

.contacto-email{
    text-align: center;
    background-color: var(--dark-blue);

    
    margin: 0 auto;
    
    row-gap: 2rem;
   
}

.contacto-contenido{
    display: grid;
   grid-template-columns: 1fr ;
   max-width: 600px;
   margin: 0 auto;
   align-items: top;
   row-gap: 2rem;
}

.contacto-contenido {
    display: grid;
   grid-template-columns: 1fr 1fr ;
  
}

.contacto-contenido >img{
font-size: 45rem;

}


.final{
    
    
    gap: 2rem;
    text-align: center;
}

@media screen and (min-width: 600px ) {
    .header-information{
        padding: 3rem 4.5rem;
    }
}


@media screen and (min-width: 768px) {
    label{
        display: none;
    }
    .nav-menu{
        position: static;
        flex-direction: row;
        min-height: auto;
        justify-content: end;
        background-color: transparent;
    }
    .nav-item{
        padding-left: 1.25rem;
        font-size: 1rem;
    }

    .section-about{
        padding: 3.5rem 5rem;
    }

    .education-container{
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2.5rem;
    }

    .experience-container{
        grid-template-columns: 1fr 2fr 1fr;
    }

    .section-projects{
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 2rem;
        
    }
   



}

@media  screen and (min-width: 992px) {
    
    .header{
        background-position: top 0 right 0;
    }

    .header-information{
        flex-direction: row;
    }

    .social-container{
        margin: 0;
        justify-content: space-between;
        max-width: 300px;
    }
}